body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "EB Garamond", cursive;
}

/*h2 {
  color: #3f435c;
}*/

header h2 {
  color: #c5c4c9;
}

h6 {
  color: #3f435c;
  font-style: italic;
}

.card-img-overlay h5 {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-image: linear-gradient(#c5c4c9, white);
  padding: 20px 0;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #dad5d5, #3f435c, #151047);
  color: white;
}

.jumbotron h2 {
  color: #cec8ff;
}

.navbar-dark {
  background-color: #2e2853;
}

.navbar {
  padding: 0 15px;
  height: 55px;
  line-height: 55px;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

div.transboxWhite {
  /*margin: 30px;*/
  background-color: #ffffff;
  /*border: 1px solid black;*/
  opacity: 0.7;
}

div.bgLight {
  background-color: #f8f9f9;
  border-radius: 4px;
}

div.transboxBlack {
  margin: 0px;
  background-color: #000000;
  opacity: 0.5;
}

.span.boxBlack {
  background-color: #000000;
  /*opacity: 0.5;*/
}

/*address {
  font-weight: bold;
}*/

.carousel-caption {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
  border: solid #dad5d5;
}

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
}

#bookButton,
#dropInButton {
  color: black;
}

#bookModal .modal-header {
  background-color: #271e81;
  color: white;
}

#loginModal .modal-header {
  background-color: #271e81;
  color: white;
}

#bodyHome {
  min-height: 60vh;
  background-image: linear-gradient(transparent, white 85%), url("../src/images/iam_1.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#bodyAbout {
  min-height: 50vh;
  background-image: linear-gradient(transparent, white 85%), url("../src/images/IMG_3728.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#bodyContact {
  min-height: 50vh;
  background-image: linear-gradient(transparent, white 85%),
    url("../src/images/ironmortar_november19-19102.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#bodyClasses {
  min-height: 50vh;
  background-image: linear-gradient(transparent, white 85%), url("../src/images/im-0142.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
